.switchComponent {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 12px;

  .backgroundTransition {
    --active-index: 0;
    --options-count: 1;

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(100% / var(--options-count));
    background: var(--active-gradient-background);
    box-shadow: var(--component-shadow);
    border-radius: 20px;
    transition: all ease-out 0.2s;
    transform: translateX(calc(var(--active-index) * 100%));
  }

  .option {
    position: relative;
    flex: 1;
    transition: all ease 0.3s;
    font-family: var(--urbanist-font);
    padding: 8px 16px;
    cursor: pointer;
  }

  .default {
    color: var(--black-text);

    &:hover {
      color: var(--active-text);
    }
  }

  .active {
    color: var(--white-text);
  }
}
