.prototypeLayoutSlot {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
  border: 3px dashed var(--gray-background);
  box-sizing: border-box;
  transition: all ease-in-out 0.2s;

  &:hover {
    border-color: var(--active-background);

    .emptyText {
      color: var(--blue-text);
    }
  }

  .emptyText {
    font-weight: 600;
    transition: all ease-in-out 0.2s;
  }
}

.isTop {
  border-radius: 24px 24px 12px 12px;
}

.isFill {
  border-radius: 12px;
}

.isBottom {
  border-radius: 12px 12px 24px 24px;
}

.isActive {
  border: 3px solid var(--active-background);

  .emptyText {
    color: var(--blue-text);
  }
}
