@use "@shared/styles/complex" as complex;

.homeGetStarted {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 0;
  @include complex.injectBackground();

  .title {
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    color: var(--white-text);
  }

  .buttons {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  .getStartedButton {
    font-weight: 600;
    font-size: 18px;
  }

  .githubButton {
    display: flex;
    border-radius: 20px;
    border: 3px solid var(--white-text);
    font-weight: 600;
    font-size: 18px;
    box-sizing: border-box;
    gap: 8px;

    &:hover {
      border-color: var(--active-text);
    }
  }

  .githubIcon {
    width: 24px;
    height: 24px;
  }
}
