@use "@shared/styles/adaptive" as adaptive;
@use "@shared/styles/complex" as complex;

.templateItem {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.templateDraggableContainer {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  cursor: grab;
  animation: var(--scaleup-animation);

  &:active {
    cursor: grabbing;
  }

  &:active .templateDraggableTitle {
    color: var(--active-background);
  }

  &:hover .templateDraggableTitle {
    color: var(--active-background);
  }

  .templateDraggableRenderer {
    position: relative;
    @include adaptive.mediaHeight("xxlarge") {
      width: var(--template-width-xxlarge);
      max-height: var(--template-heigth-xxlarge);
    }

    @include adaptive.mediaHeight("large", "xlarge") {
      width: var(--template-width-large-xlarge);
      max-height: var(--template-heigth-large-xlarge);
    }
  }

  .isFill {
    @include adaptive.mediaHeight("xxlarge") {
      height: var(--template-heigth-xxlarge);
    }

    @include adaptive.mediaHeight("large", "xlarge") {
      height: var(--template-heigth-large-xlarge);
    }
  }

  .templateDraggableTitle {
    color: var(--white-text);
    font-weight: 600;
    text-align: center;
    transition: color 0.3s ease;

    @include adaptive.mediaHeight("xxlarge") {
      font-size: 16px;
    }

    @include adaptive.mediaHeight("large", "xlarge") {
      font-size: 14px;
    }
  }
}

.isNotActive {
  cursor: pointer;
  transform: scale(0.85);
}
