.templateDraggableContainer {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  cursor: grab;
  animation: var(--scaleup-animation);

  &:active {
    cursor: grabbing;
  }

  &:active .templateDraggableTitle {
    color: var(--active-background);
  }

  &:hover .templateDraggableTitle {
    color: var(--active-background);
  }

  .templateDraggableTitle {
    font-family: var(--jetbrainsmono-font);
    color: var(--white-text);
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    transition: color 0.3s ease;
  }
}
