@use '@shared/styles/adaptive' as adaptive;

.categorySwitchContainer {
  display: flex;
  background-color: var(--white-background);
  justify-content: center;
  align-items: center;
  padding: 4px 0;
  width: 100%;

  .categorySwitchContent {
    display: inline-block;
    background-color: var(--dark-background);
    box-shadow: var(--component-shadow);
    border-radius: 22px;
    padding: 4px;

    .categorySwitchButton {
      @include adaptive.mediaHeight('xxlarge') {
        font-size: 16px;
      }

      @include adaptive.mediaHeight('large', 'xlarge') {
        font-size: 14px;
      }
    }
  }
}
