.prototypeRunningLayout {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: none;
  width: 100%;
  height: 100%;
  animation: var(--scaleup-animation);

  .prototypeRunningTemplate {}

  .isTop {
    position: sticky;
    top: 0;
    background-color: var(--white-background);
  }

  .isBottom {
    position: sticky;
    bottom: 0;
    background-color: var(--white-background);
  }
}

.emptyContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  width: 100%;
  height: 100%;
  gap: 8px;
  animation: var(--scaleup-animation);
}
