.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;

  .icon {
    width: 36px;
    height: 36px;
  }
}

.modalSignUp {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .input {
    font-size: 18px;
    border-radius: 12px;
  }

  .confirmButton {
    font-size: 18px;
    border-radius: 12px;
    font-weight: 600;
  }
}
