@mixin inject() {
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @keyframes scaleUpAnimation {
    from {
      transform: scale(0.7);
    }
    to {
      transform: scale(1);
    }
  }
  
  --gradient-animation: gradientAnimation 5s ease infinite;
  --scaleup-animation: scaleUpAnimation 0.3s ease-in-out;
}
