@mixin inject() {
  // color variables
  --white-text: #fff;
  --black-text: #000;
  --gray-text: #a9a9a9;
  --blue-text: #007aff;
  --active-text: #c792ea;
  --error-text: #ff3b30;
  --success-text: #249b37;

  --white-background: #fff;
  --dark-background: #1e1e1e;
  --gray-background: #d9d9d9;
  --active-background: #007aff;
  --active-background-hover: #005bb5;
  --active-background-light: #87cefa;
  --active-gradient-background: linear-gradient(
    135deg,
    #ffcb6b,
    #ffa7c4,
    #c792ea,
    #82aaff,
    #89ddff
  );
  --error-gradient-background: linear-gradient(
    135deg,
    #ff3b30,
    #ff6f61,
    #ffa7c4,
    #c792ea,
    #82aaff
  );

  // complex variables
  --component-shadow: 0 2px 5px rgba(0, 0, 0, 0.1),
    0px 1px 3px rgba(0, 0, 0, 0.08);
  --component-shadow-hover: 0px 4px 6px rgba(0, 0, 0, 0.1),
    0px 8px 15px rgba(0, 0, 0, 0.2);

  // size variables
  --template-width-xxlarge: 256px;
  --template-width-large-xlarge: 224px;

  --template-heigth-xxlarge: 142px;
  --template-heigth-large-xlarge: 124px;

  --template-pick-size: 32px;

  --template-gap: 16px;
}
