@use '@shared/styles/variables' as variables;
@use '@shared/styles/fonts' as fonts;
@use '@shared/styles/animations' as animations;

body {
  margin: 0;
  padding: 0;

  @include variables.inject();
  @include fonts.inject();
  @include animations.inject();

  font-family: var(--jetbrainsmono-font);
}
