@use '@shared/styles/variables' as variables;
@use '@shared/styles/fonts' as fonts;
@use '@shared/styles/animations' as animations;

body {
  @include variables.inject();
  @include fonts.inject();
  @include animations.inject();
  margin: 0;
  padding: 0;
  font-family: var(--jetbrainsmono-font);
  background-color: var(--dark-background);
}
