.prototypeLayoutArea {
  --area-radius: 24px;

  position: absolute;
  box-sizing: border-box;
  border: 4px solid transparent;
  border-radius: var(--area-radius);
  font-family: var(--urbanist-font);
  font-weight: 600;
  font-size: 20px;
  color: var(--active-background);
  transition: display 0.3s ease;
}

.isDisabled {
  display: none;
}

.isActive {
  display: block;
  border-color: var(--active-background);
}

.isFill {
  width: 100%;
  height: 100%;
}

.isTop {
  --area-radius: 24px 24px 12px 12px;

  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% / 6);
  border-radius: var(--area-radius);
}

.isBottom {
  --area-radius: 12px 12px 24px 24px;

  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100% / 6);
  border-radius: var(--area-radius);
}
