.projectSwitchModePanel {
  display: inline-block;
  background-color: var(--white-background);
  border-radius: 24px;
  padding: 4px;

  .projectPanelContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--dark-background);
    box-shadow: var(--component-shadow);
    border-radius: 20px;
    padding: 4px;
  }
}

.mode {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  gap: 8px;

  svg {
    width: 0px;
    height: 0px;
  }
}

.showIcon {
  svg {
    width: 18px;
    height: 18px;
  }
}
