@use "@shared/styles/adaptive" as adaptive;

.prototypeLayoutTemplateContainer {
  display: inline-flex;
  flex-direction: column;
  width: auto;
  height: auto;
  justify-content: center;

  &:hover {
    .title {
      display: block;
    }
  }

  .title {
    display: none;
    text-align: center;
    color: var(--blue-text);
    font-weight: 600;
    font-size: 14px;
    animation: var(--scaleup-animation);
  }
}

.prototypeLayoutTemplate {
  position: relative;
  cursor: pointer;
  transform: scale(0.8);

  @include adaptive.mediaHeight("xxlarge") {
    width: var(--template-width-xxlarge);
    max-height: var(--template-heigth-xxlarge);
  }

  @include adaptive.mediaHeight("large", "xlarge") {
    width: var(--template-width-large-xlarge);
    max-height: var(--template-heigth-large-xlarge);
  }
}

.isTop {
}

.isFill {
  @include adaptive.mediaHeight("xxlarge") {
    height: var(--template-heigth-xxlarge);
  }

  @include adaptive.mediaHeight("large", "xlarge") {
    height: var(--template-heigth-large-xlarge);
  }
}

.isBottom {
}
