.buttonComponent {
  font-family: var(--jetbrainsmono-font);
  font-weight: 600;
  font-size: 15px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  transition: all ease 0.3s;
}

.default {
  background-color: var(--dark-background);
  box-shadow: var(--component-shadow);
  color: var(--black-text);
  border-radius: 20px;
}

.active {
  background: var(--active-gradient-background);
  box-shadow: var(--component-shadow);
  color: var(--black-text);
  animation: var(--gradient-animation);
  background-size: 200% 200%;
  border-radius: 20px;
  transition: all ease-in-out 0.3s;

  &:hover {
    box-shadow: var(--component-shadow-hover);
    color: var(--white-text);
  }
}

.transparent {
  background-color: transparent;
  color: var(--white-text);
  
  &:hover {
    color: var(--active-text);
  }
}
